---
layout: page
title: Learn Macaulay2
links:
  - title: Try Online
    icon: globe
    href: "https://www.unimelb-macaulay2.cloud.edu.au/#home"
  - title: Install
    icon: download
    href: "/get-m2"
  - title: Tutorials
    icon: book-open
    href: "/documentation"
---

<!-- todo: replace with real data -->
<div class="flex flex-col items-center gap-32">
  <div class="grid grid-cols-1 @xl:grid-cols-2 gap-4">
    <div class="flex flex-col gap-4 items-center justify-center">
      <div class="flex flex-col items-center gap-2">
        <h1 class="text-5xl @lg:text-7xl font-bold">Macaulay2</h1>
        <p class="text-xl text-center">
          Software for algebraic geometry and commutative algebra
        </p>
      </div>
      <div class="flex flex-wrap items-center justify-center gap-4">
        {% for link in page.links %}
        <a href="{{ link.href }}">
          <button class="button-default button-md flex items-center gap-2">
            <i data-lucide="{{ link.icon }}" class="size-"></i>
            {{ link.title }}
          </button>
        </a>

        {% endfor %}
      </div>
    </div>
    <div class="p-5">
      <pre
        class="language-macaulay2"
      ><code class="language-macaulay2 !text-xl !p-5">
i73 : Rbar = R/I
o73 = Rbar
o73 : QuotientRing

i74 : pideal = substitute(pideal, Rbar)
o74 = ideal (x + x , x , x )
              0   3   1   2
o74 : Ideal of Rbar

i75 : S = kk[u,v,w]
o75 = S
o75 : PolynomialRing

i76 : J = kernel map (Rbar, S, gens pideal)
o76 = ideal(v3 - u*v*w + w3)
o76 : Ideal of S</code></pre>
    </div>
  </div>

  <!-- Showcase -->
  <div class="flex flex-col items-center gap-2">
    <h1 class="text-5xl font-bold">Showcase</h1>
    <p class="text-xl mb-8">Some projects of the community</p>
    <div class="grid gap-4 grid-cols-1 @lg:grid-cols-2 @xl:grid-cols-3">
      {% assign random_showcase = site.data.showcase | sample: 3 %} {% for
      project in random_showcase %}
      <div
        class="flex h-full flex-col bg-card rounded-md border overflow-hidden"
      >
        <div class="w-full h-80 relative border-b">
          <img
            src="{{ site.baseurl }}{{ project.image }}"
            alt="{{ project.title }} project image"
            class="object-cover w-full h-full"
          />
        </div>
        <div class="p-4 flex flex-col gap-2">
          <span class="text-xl font-semibold">{{ project.title }}</span>
          <p class="line-clamp-4">{{project.description}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <a href="/showcase"
      ><button class="button-md button-outline !text-foreground">
        View more
      </button></a
    >
  </div>

  <!-- Events -->
  <div class="flex flex-col items-center gap-2 w-full">
    <h1 class="text-5xl font-bold">Events</h1>
    <p class="text-xl mb-8">Upcoming events discussing Macaulay2</p>
    <div class="grid gap-4 grid-cols-1 w-full">
      {% for event in site.data.events limit: 5 %}
      <div
        class="flex flex-col @lg:flex-row gap-4 items-center bg-card w-full p-5 rounded-md border !border-l-[6px] !border-l-primary"
      >
        <div class="flex flex-col gap-2.5 flex-1">
          <div class="flex flex-col @lg:flex-row @lg:items-center gap-4">
            <div
              class="flex items-center gap-2 py-1 px-2.5 rounded-md bg-secondary"
            >
              <i data-lucide="calendar" class="size-4 text-primary"></i>
              <span class="text-sm font-medium">{{ event.date }}</span>
            </div>
            <div class="py-1 px-2.5 rounded-md border">
              <span class="text-sm font-medium text-accent-foreground"
                >{{ event.difficulty }}</span
              >
            </div>
          </div>
          <span class="text-xl font-semibold">{{event.title}}</span>
          <p class="line-clamp-2 max-w-200">{{event.summary}}</p>
          <div class="flex flex-col @lg:flex-row @lg:items-center gap-4">
            <div class="flex items-center gap-2">
              <i data-lucide="shapes" class="size-4 text-muted-foreground"></i>
              <span class="text-sm text-muted-foreground"
                >{{event.category}}</span
              >
            </div>
            <div class="flex items-center gap-2">
              <i data-lucide="earth" class="size-4 text-muted-foreground"></i>
              <span class="text-sm text-muted-foreground"
                >{{event.format}}/{{event.location}}</span
              >
            </div>
          </div>
        </div>
        <button class="button-md w-full @lg:w-fit button-default">
          {{event.cta}}
        </button>
      </div>
      {% endfor %}
    </div>
    <a href="/events"
      ><button class="button-md button-outline !text-foreground">
        View more
      </button></a
    >
  </div>

  <!-- CTA -->
  <div
    class="flex p-4 @md:p-6 @lg:p-10 w-full rounded-md border-2 border-dashed flex flex-col items-center justify-center gap-6"
  >
    <h3 class="text-5xl text-center font-semibold">Ready to get started?</h3>
    <div
      class="flex flex-col @md:flex-row @md:items-center gap-2 w-full @md:w-fit"
    >
      <a href="/get-m2">
        <button
          class="button-lg button-default flex items-center gap-2 text-xl text-white"
        >
          <i data-lucide="download"> </i>
          Install
        </button>
      </a>
      <a href="/documentation">
        <button
          class="button-lg button-outline flex items-center gap-2 text-xl !text-foreground"
        >
          <i data-lucide="book"></i>
          Read the Docs
        </button>
      </a>
    </div>
  </div>
</div>
