<header
  class="flex w-full items-center gap-3 border-b border-app-border bg-app-bg p-4 text-app-text"
>
  <div class="flex-1 w-full flex items-center gap-2">
    <button
      id="sidebar-toggle-button"
      class="button-outline p-2 md:hidden rounded-md"
    >
      <i data-lucide="panel-right-close" class="text-muted-foreground"></i>
    </button>
    <div class="flex items-center flex-1 w-full max-w-100 gap-2 rounded-md">
      <i data-lucide="search" class="size-5 text-app-text-muted"></i>
      <input
        class="w-full bg-transparent focus-visible:outline-none focus-visible:border-none rounded-md text-lg text-app-text placeholder:text-app-text-muted"
        placeholder="Search the site..."
      />
    </div>
  </div>

  <button
    id="theme-toggle"
    class="rounded p-2 cursor-pointer text-app-text-muted hover:bg-app-surface-muted hover:text-app-text"
    type="button"
    aria-label="Toggle dark mode"
  >
    <i data-lucide="moon" class="h-4 w-4 dark:hidden"></i>
    <i data-lucide="sun" class="hidden h-4 w-4 dark:block"></i>
  </button>
</header>
