<div class="relative w-full min-w-0 max-w-full overflow-hidden">
  <pre
    class="w-full min-w-0 max-w-full !overflow-x-auto !whitespace-pre pr-10"
  ><code class="language-{{ include.language | default: 'text' }}">{{ include.code | escape }}</code></pre>
  <button
    type="button"
    class="copy-code-button bg-[#d8ffff] dark:bg-card absolute right-0.25 top-2 button-sm !p-1 !px-2"
    aria-label="Copy code"
    data-copy-code="{{ include.code | escape }}"
  >
    <i data-lucide="clipboard" class="size-4"></i>
  </button>
</div>
