<!doctype html>
<html lang="en-us">
  {% include head.html %}
  <body
    class="theme-base-{{ site.color-scheme }} language-Macaulay2 bg-[var(--app-bg)] text-[var(--app-text)]"
  >
    <!-- Search results section -->
    <div class="mx-auto max-w-[800px] px-4">
      <div id="results"></div>
      <ul id="search_results"></ul>
    </div>
    <div class="flex w-screen h-screen">
      {%- include sidebar.html -%}
      <div class="flex-1 w-full h-full overflow-hidden">
        <div class="w-full h-full flex flex-col">
          {%- include header.html -%}
          <div class="flex-1 w-full overflow-y-auto">
            <!-- ######################################### default ######################################### -->
            {{ content }}
            <!-- ########################################################################################### -->
          </div>
        </div>
      </div>
    </div>

    <!-- 100% privacy-first analytics -->
    <script
      data-collect-dnt="true"
      async
      src="https://scripts.simpleanalyticscdn.com/latest.js"
    ></script>
    <script>
      document.getElementById("theme-toggle")?.addEventListener("click", () => {
        const isDark = document.documentElement.classList.toggle("dark");
        localStorage.theme = isDark ? "dark" : "light";
        lucide.createIcons();
      });

      lucide.createIcons();
    </script>
  </body>
</html>
